<div class="container">
    <div class="left">
        <img class="image" src="../../../assets/background.png" alt="">
    </div>

    <div class="form">
        <form [formGroup]="loginForm" method="post" (ngSubmit)="onLoginWithEmailAndPassword()">
            <h2>Login</h2>
            <span class=" span">
                Please login to explore your trip!
            </span>
            <label for="email" class="label"> E-mail </label>
            <input type="text" name="email" placeholder="Email" formControlName="email" required>
            <label for="password" class="label"> Password </label>
            <input type="password" name="password" placeholder="Password" formControlName="password" required>
            <button type="submit">Login</button>
        </form>
        <div class="or-text">
            <hr>
            <p>or</p>
        </div>
        <div class="social-buttons">
            <button (click)="onLoginWithGoogle()"><img class="icon" src="../../../assets/Google.png"
                    alt="Google Logo">Login with Google</button>
            <button (click)="onLoginWithFacebook()"><img class="icon" src="../../../assets/facebook-icon.png"
                    alt="Facebook Logo">Login with
                Facebook</button>
        </div>
        <span class="You-do-not-have-an-account-Join-Now">
            You do not have an account?
            <span class="text-style-1"></span>
            <span class="text-style-2" (click)="navigateToRegister()">Join Now</span>
        </span>
    </div>
</div>