<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sen%3A700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C500" />
</head>

<body>
    <div class="login-JRU">
        <div class="group-37289-WGe">
            <div class="rectangle-2415-NiA">
            </div>
            <div class="frame-35623-nWz">
                <div class="group-35607-iQe">
                    <p class="register-fqg">Register</p>
                    <p class="lorem-ipsum-dolor-sit-ame-consectetur-emet-9kr">Lorem ipsum dolor sit ame consectetur emet
                    </p>
                </div>
                <div class="auto-group-qc9u-4cv">
                    <div class="header-cta-b74">
                        <div class="auto-group-ytlj-KYr">
                            <div class="input-field-base-d5g">
                                <div class="input-with-label-wMG">
                                    <p class="label-Hg2">E-mail</p>
                                    <div class="input-Pj4">
                                        <div class="content-uhQ">
                                            <img class="mail-3Yi" src="src/app/auth/login/assets/mail.png" />
                                            <p class="text-we6">Please enter email address</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-with-label-nPp">
                                <p class="label-KPk">password</p>
                                <div class="input-rPg">
                                    <div class="content-b6N">••••••••</div>
                                </div>
                            </div>
                        </div>
                        <div class="primary-button-Rr6">
                            <div class="button-base-xr2">Log in</div>
                        </div>
                        <p class="forgot-password-dxA">Forgot Password?</p>
                    </div>
                    <div class="divider-L5t">
                        <div class="line-127-ra2">
                        </div>
                        <p class="or-A4v">or</p>
                        <div class="line-128-gZ4">
                        </div>
                    </div>
                    <div class="social-button-groups-p9U">
                        <div class="social-button-Krv">
                            <img class="social-icon-TTL" src="src/app/auth/login/assets/social-icon-jhg.png" />
                            <p class="text-myp">Continue with Google</p>
                        </div>
                        <div class="social-button-Fe6">
                            <img class="social-icon-PEW" src="src/app/auth/login/assets/social-icon-cqL.png" />
                            <p class="text-4bY">Continue with Facebook</p>
                        </div>
                        <div class="social-button-XEE">
                            <img class="social-icon-epe" src="src/app/auth/login/assets/social-icon.png" />
                            <p class="text-BZg">Continue with Apple</p>
                        </div>
                        <span class="You-do-not-have-an-account-Join-Now">
                            You do not have an account?
                            <span class="text-style-1"></span>
                            <span class="text-style-2">Join Now</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>