<body>
    <div class="container">
        <div class="left">
        </div>
        <div class="form">
            <form action="login.php" method="post">
                <h2>Register</h2>
                <span class="span">
                    Lorem ipsum dolor sit ame consectetur emet
                </span>
                <label class="label"> E-mail </label>
                <input type="text" name="email" placeholder="Email" required>
                <label class="label"> Password </label>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Login</button>
            </form>
            <div class="or-text">
                <hr>
                <p>or</p>
            </div>
            <div class="social-buttons">
                <button><img class="icon" src="../../../assets/Google.png" alt="Google Logo">Login with Google</button>
                <button><img class="icon" src="../../../assets/facebook-icon.png" alt="Facebook Logo">Login with Facebook</button>
                <button><img class="icon" src="../../../assets/Apple-icon.png" alt="Apple Logo">Login with Apple ID</button>
            </div>
            <span class="You-do-not-have-an-account-Join-Now">
                You do not have an account?
                <span class="text-style-1"></span>
                <span class="text-style-2">Join Now</span>
            </span>
        </div>
    </div>
</body>