.newsletter {
    width: 100%;
    padding: 75px 341px;
    border-radius: 30px;
    background-color: #ffd482;
  }

  .heading {
    margin: 0 0 16px;
    font-size: 40px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.06px;
    color: #2d3134;
  }

  .subtitle {
    margin: 16px 36px 40px 37px;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    color: #5b5f62;
  }

  .search-input {
    width: 450px;
    height: 60px;
    flex-grow: 0;
    border: none;
    margin: 40px 19px 0;
    padding: 10px 12px 10px 26px;
    border-radius: 12px;
    background-color: #fff;
  }