<div class="container">
    <div class="left">
        <img class="image" src="../../../assets/background.png" alt="">
    </div>

    <div class="form">
        <form method="post" [formGroup]="registerForm" (ngSubmit)="onRegisterWithEmailAndPassword()">
            <h2>Register</h2>
            <span class="span">
                Please register to join our community!
            </span>
            <label class="label"> E-mail </label>
            <input type="text" name="email" placeholder="Email" formControlName="email" required>
            <label class="label"> Password </label>
            <input type="password" name="password" placeholder="Password" formControlName="password" required>
            <button type="submit">Register</button>
        </form>
        <div class="or-text">
            <hr>
            <p>or</p>
        </div>
        <div class="social-buttons">
            <button><img class="icon" src="../../../assets/Google.png" alt="Google Logo">Login with Google</button>
            <button><img class="icon" src="../../../assets/facebook-icon.png" alt="Facebook Logo">Login with
                Facebook</button>
            <button><img class="icon" src="../../../assets/Apple-icon.png" alt="Apple Logo">Login with Apple ID</button>
        </div>
        <span class="You-do-not-have-an-account-Join-Now">
            Already have an account?
            <span class="text-style-1"></span>
            <span class="text-style-2" (click)="navigateToLogin()">Login</span>
        </span>
    </div>
</div>