<div class="review-container">
    <div *ngFor="let review of reviews" class="card">
        <div class="close-icon" (click)="deleteReview(review)">X</div>
        <div (click)="selectReview(review)" class="card-data">
            <div>
                <h2 class="review-message">{{ review.reviewMessage }}</h2>
                <h3 class="caption">{{ review.imageCaption }}</h3>
            </div>
            <div class="image-container">
                <div *ngFor="let eachImage of review.imageUrls">
                    <img [src]="eachImage" alt="Image" style="width: 200px;">
                </div>
            </div>
        </div>
    </div>
</div>