<h1>Share Your Experience</h1>
<p>We love to hear about your journey. Your feedback helps us improve and assists fellow travelers in choosing their
    perfect trip. Please leave a review and share your memories.</p>

<form id="reviewForm" [formGroup]="reviewFormGroup" (ngSubmit)="onSubmit()">
    <label for="message">Your Review:</label>
    <textarea id="message" formControlName="reviewMessage" name="message" placeholder="Type your review here..."
        required></textarea>

    <label for="imageCaption">Image Caption:</label>
    <input type="text" formControlName="imageCaption" id="imageCaption" name="imageCaption" placeholder="Image title">

    <label for="imageUpload">Upload Image:</label>
    <input type="file" (change)="onFileChange($event)" multiple>
    <div class="image-container" *ngIf="selectedReview">
        <div *ngFor="let eachImage of selectedReview.imageUrls" class="image-item">
            <img width="100px" [src]="eachImage" alt="Image">
        </div>
    </div>
    <button *ngIf="selectedReview" type="submit">Update Review</button>
    <button *ngIf="!selectedReview" type="submit">Submit Review</button>
    <button *ngIf="selectedReview" type="button" (click)="clearSelectedReview()">Add a new Review</button>
</form>

<div>
    <h1>My reviews</h1>
    <app-review-list></app-review-list>
</div>