
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A400%2C500" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sen%3A400%2C500%2C700" />
</head>

<body>
    <div class="contact-us-QAi">
        <div class="group-37297-Yw8">
            <div class="auto-group-rcdc-mxJ">
                <div class="logo-5xz">
                    <div class="rectangle-4407-1re">
                    </div>
                    <p class="seven-bird-travel-Y5t">seven bird travel</p>
                </div>
                <div class="nav-pZC">
                    <p class="home-L1k">Home</p>
                    <div class="rectangle-719-phc">
                    </div>
                </div>
                <div class="nav-8iJ">
                    <p class="home-TEn">My trip</p>
                    <div class="rectangle-719-w9x">
                    </div>
                </div>
                <div class="nav-4VU">
                    <p class="home-men">About Us</p>
                    <div class="rectangle-719-hHY">
                    </div>
                </div>
                <div class="nav-psx">
                    <p class="home-m2W">Contact</p>
                    <div class="rectangle-719-HmY">
                    </div>
                </div>
            </div>
            <div class="login-button-EAz">
                <p class="log-in-MmQ">Log In</p>
                <div class="rectangle-4406-gHt">
                </div>
            </div>
        </div>
        <div class="getintouch-Dh8">
            <div class="auto-group-owc2-Ww8">
                <p class="home--pgv">Home &gt; </p>
                <p class="about-us--8hc">About Us &gt;</p>
            </div>
            <p class="contact-EEr">Contact</p>
            <div class="group-122-kU6">
                <div class="group-120-fb4">
                    <p class="say-hello-Pmx">Say hello</p>
                    <p class="lorem-ipsum-is-simply-dummy-text-of-the-printing--LBQ">Lorem Ipsum is simply dummy text of
                        the printing .</p>
                </div>
                <div class="group-119-FpA">
                    <div class="auto-group-6aun-cPp">
                        <div class="group-8-mGi">
                            <p class="first-name-qQz">First Name</p>
                            <div class="rectangle-3-xEi">
                            </div>
                        </div>
                        <div class="group-116-54S">
                            <p class="last-name-cq4">Last Name</p>
                            <div class="rectangle-3-MXk">
                            </div>
                        </div>
                    </div>
                    <div class="auto-group-gsx6-gK8">
                        <div class="group-117-2dt">
                            <p class="email-address-kpn">Email Address</p>
                            <div class="rectangle-3-5s4">
                            </div>
                        </div>
                        <div class="group-118-DTU">
                            <p class="message-ZnE">Message</p>
                            <div class="rectangle-3-Vvn">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group-121-ckW">
                    <p class="get-in-touch-mNW">Get in touch</p>
                    <div class="group-87-SzS">
                        <div class="group-7-PPt">Get in touch</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>