<div class="about-section">
      <div class="text-container">
            <h2>About Seven Bird Travel</h2>
            <p>
                  Welcome to Seven Bird Travel! We're a team of travel enthusiasts dedicated to helping you plan the
                  perfect trip.
                  Our website allows you to discover cool places to visit, making your travel experience memorable and
                  enjoyable.
            </p>
            <p>
                  If you have any questions or need assistance, please feel free to contact us. We're here to ensure
                  your journey is smooth and full of exciting discoveries. Happy travels!
            </p>
            <button class="contact-button" routerLink='/dashboard/contact'>Contact Us</button>
      </div>
      <div class="image-container">
            <div class="overlay"></div>
            <img src="../../../assets/group7.jpg" alt="Group7 Team">
      </div>
</div>