/* You can add global styles to this file, and also import other style files */
/* styles.css */
@import "@ng-select/ng-select/themes/material.theme.css";

body {
    background-color: #faf8ed;
    margin: 0;
    overflow: auto;
    padding: 24px 128px;
    font-family: Inter;
}

.logo-text {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #2d3134;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.mapboxgl-ctrl-geocoder,
.mapboxgl-ctrl-geocoder .suggestions {
    box-shadow: none !important;
}

.ng-select {
    width: fit-content !important;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    background-color: #f66f4d !important;
    border-radius: 24px !important;
    padding: 10px 15px !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
    color: #f66f4d !important;
}
