/* You can add global styles to this file, and also import other style files */
body {
    background-color: #faf8ed;
    margin: 0;
    overflow: hidden;
    padding: 24px 128px;
    font-family: Inter;
}

.logo-text {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #2d3134;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}